
<header>
    <h1>Create and Devour</h1>
    <img src="https://media2.giphy.com/media/t6EAyWJPXL1N6/giphy.gif?cid=ecf05e475x7zu885r47103rx7xwsi3aff88fr2xmiccy4kkj&rid=giphy.gif" alt="dissapoint burger" width="400" height="400">
</header>

<main>
    <section>
        <div id="burgers">
        <h1>BURGERS!</h1>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <li>{{burger_name}}</li>        
                        <button class="eat-it" data-id="{{id}}" data-devoured="{{devoured}}">Eat it!</button>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </section>
       
        <form class= "create-form">
            <h2>ADD A BURGER!</h2>
            <div class="form-group">
                <label for="burger">Burger Name:</label>
                <input type="text" id="burger" name="name">
            </div>

            <div class="form-group">
                <label for="devoured">Devoured!</label><br>
                <input type="radio" class="devID" name="devoured" value="1" checked> Devoured!<br>
                <input type="radio" class="devID" name="devoured" value="0"> Burger
            </div>

            <button type="submit">ADD BURGER!</button>
        </form>

    <aside>
        <div id="devoured">
            <h1>DEVOURED BURGERS!</h1>
                <ul id="devouredBurgs">
                    {{#each burgers}}
                        {{#if devoured}}
                            <li>{{burger_name}}</li>
                        {{/if}}
                    {{/each}}
                </ul>
        </div>
    </aside>
</main>


